<h1> Your Links mate </h1>

<form action = '/new' method ='post'>
  <input type = 'submit' value = 'Add New Link'>
</form>

<ul id = 'links'>
  <% @links.each do |link| %>
   <li>
     Title: <%= link.title %>
     URL: <%= link.url %>
   </li>
 <% end %>
</ul>
